.features-banner {
  width: 100%;
  height: 1080px;
  background: url(/src/assets/img/features/features-bg.svg) left top no-repeat;
  padding-top: 150px;
  margin-bottom: 150px;
}
.features-card-sec {
  position: relative;
}
.features-card-sec::after {
  content: '';
  left: -300px;
  right: 0;
  top: -40px;
  bottom: 0;
  width: 850px;
  height: 790px;
  background: url(/src/assets/img/features/features-pc.svg);
  position: absolute;
}
