.features-card-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
}
.card-img {
}
.card-text {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  margin-bottom: 50px;
}
.card-text-title {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 400;
  text-align: left;
  color: #3b668d;
}
.card-text-subtitle {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #2b4964;
}
