.title-container {
  color: #3b668d;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 150px;
}

.title-title {
  font-family: Roboto;
  font-size: 72px;
  font-weight: 900;
  line-height: 70px;
  letter-spacing: 0.405em;
}
.title-subtitle {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.905em;
  text-align: left;
}
