.price-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 800px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
  margin: 0 auto;
  padding: 90px 0;
  text-align: center;
}
.price-card-1 {
  background: url(/src/assets/img/home/price/cardBg1.svg) left top no-repeat;
}
.price-card-2 {
  background: url(/src/assets/img/home/price/cardBg2.svg) left top no-repeat;
}
.price-card-3 {
  background: url(/src/assets/img/home/price/cardBg3.svg) left top no-repeat;
}
.card-popular {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #40bf3d;
}
.card-duration {
  padding: 20px;
  font-size: 48px;
  line-height: 53.52px;
  color: #3b668d;
}
.card-price {
  font-size: 64px;
  font-weight: 400;
  line-height: 71.36px;
  color: #8572ff;
}
.card-list {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #567796;
  gap: 20px;
}
.card-list li {
  margin-top: 30px;
  text-align: left;
  padding-left: 60px;
}
.card-list li {
  position: relative;
}
.card-list li::after {
  content: '';
  right: 70px;
  top: 0;
  bottom: 0;
  width: 20px;
  height: 17px;
  background: url(/src/assets/img/home/price/check.svg) no-repeat center center;
  background-size: contain;
  position: absolute;
}

.price-card.selected {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  height: 1000px;
  transform: scale(1.1);
  z-index: 10;
}

.price-card:not(.selected) {
  transform: scale(0.9);
}
.card-sign-btn {
  width: 308px;
  height: 79px;
  border-radius: 50px;
  background: linear-gradient(90deg, #43a1d6 0%, #907eff 100%);
  margin: 80px auto 45px;
}
.card-sign-btn span {
  font-size: 24px;
  line-height: 26.76px;
  text-align: center;
  color: #ffffff;
}
.card-money-back {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #567796;
}
