.main-banner {
  width: 100%;
  height: 1056px;
  background: url(../../../assets/img/BG.svg) center top no-repeat;
  padding-top: 250px;
}

.home-hero-section {
  position: relative;
  max-width: 579px;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #3b668d;
}
.home-hero-section::after {
  content: '';
  left: 550px;
  right: 0;
  top: 15px;
  bottom: 0;
  width: 815px;
  height: 716px;
  background-image: url('../../../assets/img/home/cloud-img.svg');
  position: absolute;
}
.home-title {
  font-family: Roboto;
  font-size: 72px;
  font-weight: 900;
  line-height: 70px;
  text-transform: uppercase;
}
.home-subtitle {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.905em;
  text-transform: uppercase;
}
.home-store-title {
  font-family: Roboto;
  font-size: 26px;
  font-weight: 500;
  line-height: 40.56px;
  text-transform: uppercase;
}
.home-store-subtitle {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.08px;
  letter-spacing: 0.075em;
  max-width: 490px;
}
.home-hero-section button span {
  font-size: 24px;
  line-height: 26.76px;
  text-align: center;
  color: #ffffff;
}
.home-btn {
  position: relative;
  width: 300px;
  height: 70px;
  border-radius: 85px;
  background: linear-gradient(90deg, #5ac4ff 0%, #b250ff 100%);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 25px;
  overflow: hidden;
}
.home-btn-text::after,
.home-btn::before,
.home-btn::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  opacity: 0.3;
}

.home-btn::before {
  width: 56.37px;
  height: 56px;
  top: -30px;
  left: 16px;
  border-radius: 85px;
  background: #ffffffad;
}
.home-btn::after {
  width: 106.7px;
  height: 106px;
  top: 26px;
  left: 215.4px;
  gap: 0px;
  border-radius: 85px;
  background: #0000003d;
}

.home-btn:hover {
  background: linear-gradient(to right, #34d4ba, #81b1fe);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.home-btn-text::after {
  width: 106.7px;
  height: 106px;
  top: -50px;
  left: -36px;
  border-radius: 85px;
  background: #ffffff;
}
