header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99999999;
}
.header-sec {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}
.logo {
  color: #ffffff;
  font-size: 36px;
  text-align: left;
  text-transform: uppercase;
}
.navbar-menu ul {
  display: flex;
  gap: 70px;
}
.navbar-menu ul li {
  margin: 10px 0;
  font-size: 20px;
  line-height: 22.3px;
  text-align: left;
}
.navbar-link {
  color: #ffffff;
  margin: auto;
}
.header-login {
  font-family: Poppins;
  font-size: 13.42px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}
.header-reg {
  font-family: Poppins;
  font-size: 13.42px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}
.header-login {
  color: #ffffff;
  margin-right: 35px;
  margin: 12px 25px 0 0;
}
.header-reg {
  width: 132px;
  height: 36px;
  border-radius: 82px;
  color: #bb6df3;
  background-color: #ffffff;
}
.header-user-email a {
  font-family: Comfortaa;
  font-size: 20px;
  font-weight: 700;
  line-height: 22.3px;
  color: #ffffff;
}
.header-user-info {
  display: flex;
  flex-direction: column;
}
.header-logout {
  font-family: Comfortaa;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
  color: #2e2f38;
}
